<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}{{ about_title }}{% endblock %}
{% block content %}
<div class="container py-5"> 
  {% load static %}
  <h4><img alt="" src="{% static 'img/foto_me.jpg' %}" type="image"  style=" border-width:10px; float:right; height:200px; margin: 0px 0px; width:172px" />Привет, я автор. Меня зовут Резцов Дмитрий</h4>
  <p>
    Я инженер, в моей крови было всегда только стремление к технике. 
    Для друзей всегда был тем человеком, кто что-нибудь починит, переустановит виндовс и т.д. 
    Думаю вы поняли)
  </p>
  <p>
    Я окончил много специальностей и все они технические, а именно:
  </p>
  <article>
    <ul>
      <li>
        Бакалавриат "Мехатроника и робототехника" г. Астрахань;
      </li>
      <li>
        Бакалавриат "Станкостроение и оператор станков с ЧПУ" г. Астрахань;
      </li>
      <li>
        Бакалавриат "Mecanique de systeme" г. Валансьен;
      </li>
      <li>
        Магистратура "Электроника и наноэлектроника";
      </li>
    </ul>
  <p>
    Прошел куча курсов повышения квалификации, но самое полезное было "Оператор БПЛА". 
    Делал много проектов в разных областях. Самый востребованый и оправданный, был и есть Smelcom Robotics. 
    Это подводный телеуправляемый аппарат на который мы привлекли большое финансирование с разных площадок и сейчас мы трудимся над ним с командой.  
  </p>
  <p>
    Что еще рассказать о себе?
  </p>
  <p>
    Я баскетболист, играю 12 лет в эту замечательную игру. 
    Перенес много травм, а как еще в таком спорте. 
    С первого курса играл в команде "Каспийские волки" и было много побед, и конечно были поражения. 
    На последнем курсе магистратуре мне пришлось уйти отыграв в последний матч.
  </p>
  <p>
    Сейчас работаю в компании Фертоинг. 
    Занимаюсь разработкой подводных аппаратов рабочего класса и конечно еще являюсь пилотом таких аппаратов.
  </p>
</div>
{% endblock %} 